
<div id="flashcardModal" class="modal" style="display: none;">

    <input type="text" id="cardId" style="display: none;" />
    <div id="modalCard" class="modal-content">
      <input id="modalTitle" type="text" placeholder="Digite um título" />
      <textarea id="modalDescription" placeholder="Descrição"></textarea>
    </div>

    <div class="modal-control" id="modalControls">
      <button id="deleteCardBtn">
        <span class="material-symbols-outlined">
          delete
        </span>
      </button>
      <div id="collorsControl" class="collors_control">
      </div>
      <button id="saveCardBtn">
        <span class="material-symbols-outlined">
          check_circle
          </span>
      </button>
    </div>
  </div>
  