<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página Não Encontrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" style="max-width: 150px;">
        </div>
        <h1>404</h1>
        <p>Página Não Encontrada</p>
        <p>A página que você está procurando não existe.</p>
        <a href="{{ url_for('index') }}">Voltar para a página inicial</a>
    </div>
</body>
</html>
